body {
    font-family: sans-serif;
    background-color: #eeeeee;
    margin: 0;
    width: 100%;
  }

  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .file-upload-btn {
    width: 90%;
    margin: 10px 12px;
    color: #fff;
    background: #a5a5a5;
    border: none;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 4px solid #868686;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #8f8f8f;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px solid #b6b6b6;
    position: relative;
    border-radius: 20px;
  }
  
  .image-upload-wrap :hover{
      background-color: rgb(204, 202, 202);
  }

  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text i {
    text-transform: uppercase;
    color: #6b6b6b;
    padding: 60px 0;
  }
  
  .file-upload-image {
    width: 300px;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

header{
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    padding: 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

header h1{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

#label-container{
    text-align: left;
}

.title_one,.title_two,#match_who,#discription{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.title_one{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.title_two{
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;
}

button{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#match_who{
  font-weight: 900;
  margin-top: 0;
}

#discription{
  font-weight: 300;
  margin-bottom: 30px;
}
span{
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: rgb(231, 229, 229);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(30, 30, 59, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.bar-container {
  height: 2.7rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}

.d-block.percent-text{
  background-color: rgb(71, 71, 71);
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.animal-label{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

#label-container  span{
  margin-top: 8px;
}

a{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

@media only screen and (max-width : 768px) {
  .file-upload{
    width: 320px;
    margin: 0 auto;
  }
  #label-container{
    margin: 0;
  }
  span{
    width: 100%;
  }
}

.banner{
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(30, 30, 59, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 8px 12px;
  margin: 30px 0px;
}

.banner h3,.banner h3 a{
  text-align: center;
  color: #222;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 800;
}